@{
    ViewBag.Title = "Lokasi";
}
<h2>@ViewBag.Title</h2>

<address>
    Jl. Karbela Timur No.1A, Kecamatan Setiabudi<br />
    South Jakarta 12920<br />
    <strong>DKI Jakarta</strong> 
 </address>
