@{
    ViewBag.Title = "Hubungi Kami";
}
<h2>@ViewBag.Title</h2>
<address>
    Jl. Karbela Timur No.1A, Kecamatan Setiabudi<br />
    South Jakarta 12920<br />
    <strong>DKI Jakarta</strong>
</address>

<address>
    <strong>Telepon: </strong>(021) 5290 3131 / 5290 3204<br />
    <strong>Fax: </strong>(021) 5290 3232<br />
    <strong>Email: </strong>marketing@futsalhoi.com
</address>

<address>
    <strong>No. Rekening: </strong>047 6725 784 (BNI)<br />
</address>
